node_modules/*
!node_modules/discord.js/
node_modules/discord.js/*
!node_modules/discord.js/src/
node_modules/discord.js/src/*
!node_modules/discord.js/src/client/
node_modules/discord.js/src/client/*
!node_modules/*/*/*/Client.js
config.json
